<!DOCTYPE html>
<html>
  <head>
    <title>ForumOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrap">
      <%= render 'partials/appnav' %>
      <%= yield :jumbotron %>
      <div id="main" class="container pt-4">
        <%= yield %>
      </div>

      <footer class="py-5 bg-primary">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
        </div>
        <!-- /.container -->
      </footer>
    </div>
  </body>
</html>
